.display{
    display: flex;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 2px;
    padding: .5em;
    height: 10px;
    align-items: center;
}
.box{
    display: flex;
    background-color: rgba(196, 196, 196, 0.612);
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 10px;
    margin-left: 40%;
}
.ticket{
    border: 2px solid black;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 70px;
    border-bottom: 15px solid black;
    border-radius: 4%;
    background-color: white;
    margin: 10px;
    margin-left: 50%;
}
button{
    background-color: grey;
}
.reset {
    background-color: red;
}